<form [formGroup]="formGroup">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Search">
      <!-- SEARCH -->
      <mat-form-field class="search-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input (focus)="foodListVisible = true" matInput [formControlName]="FORM_KEYS.searchQuery" autocomplete="off">
        <fa-icon matSuffix [icon]="ICONS.faSearch"></fa-icon>
      </mat-form-field>

      <!-- SEARCH RESULTS -->
      <prepit-food-list *ngIf="foodListVisible" [foods]="searchResults$ | async" (foodSelect)="onFoodSelected($event)"></prepit-food-list>
    </mat-tab>
    <mat-tab label="My Foods">
      <!-- USER FOODS -->
      <prepit-food-list *ngIf="(userFoods$ | async)?.length; else noCustomFoods" [foods]="userFoods$ | async" (foodSelect)="onFoodSelected($event)"></prepit-food-list>
    </mat-tab>
  </mat-tab-group>

  <mat-card *ngIf="ingredient.value">

    <!-- SELECTED INGREDIENT -->
    <mat-card-title>
      <span class="brand">{{ ingredient.value.brand || 'Generic' }} - </span>
      <span class="name">{{ ingredient.value.name }}</span>
    </mat-card-title>
    <mat-card-content>

      <!-- QUANTITY -->
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput [formControlName]="FORM_KEYS.amount">
      </mat-form-field>

      <!-- UNITS -->
      <mat-form-field appearance="outline">
        <mat-label>Units</mat-label>
        <mat-select [formControlName]="FORM_KEYS.unit">
          <mat-option *ngFor="let serving of ingredient?.value?.servings" [value]="serving.unit">{{ serving.unit.plural || serving.unit.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;{{ calories.value }} kcal</span>

    </mat-card-content>
  </mat-card>
</form>

<ng-template #noCustomFoods>
  There are no custom foods to display.
</ng-template>
