<div class="prep-page">
  <div class="main-container">
    <div class="ingredient-list">
      <mat-card>
        <mat-card-title>
          <span>Ingredients</span>
          <span class="spacer"></span>
          <button mat-mini-fab (click)="onAddIngredientClick()"><fa-icon [icon]="ICONS.faPlus"></fa-icon></button>
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="let food of addedFoods">
            {{ food.food.brand || 'Generic' }} - {{ food.food.name }}: {{ food.amount }}{{ food.amount > 1 ? food.unit.name : food.unit.plural }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="portion-planner">
      <mat-card>
        <mat-card-title>
          <span>Portions</span>
        </mat-card-title>
        <mat-card-content>Portions planner</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="summary-container">
    <mat-card>
      <mat-card-title>Calories</mat-card-title>
      <mat-card-content>Calorie summary</mat-card-content>
    </mat-card>
  </div>
</div>
