.prep-page {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .main-container {
    flex: 9999 0 700px;

    .ingredient-list, .portion-planner {
      padding-left: 10px;
      padding-right: 10px;
    }

    .ingredient-list {
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .portion-planner {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }

  .summary-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    padding: 10px;

    mat-card {
      height: 100%;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-card-title {
    display: flex;
    align-items: center;
  }
}
