<div class="prep-page">
  <div class="main-container">

    <!-- CUSTOM MEAL DETAILS -->
    <div class="custom-meal-form">
      <mat-card>
        <mat-card-title>
          <span>Meal details</span>
        </mat-card-title>
        <mat-card-content>
          <prepit-save-food-form (valueChange)="onSaveFoodFormValueChanged($event)"></prepit-save-food-form>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- INGREDIENTS -->
    <div class="ingredient-list">
      <mat-card>
        <mat-card-title>
          <span>Ingredients</span>
          <span class="spacer"></span>
          <button mat-mini-fab (click)="onAddIngredientClick()"><fa-icon [icon]="ICONS.faPlus"></fa-icon></button>
        </mat-card-title>
        <mat-card-content>
          <mat-list role="list" *ngIf="ingredients.value">
            <mat-list-item role="listitem" *ngFor="let ingredient of ingredients.value">
              {{ ingredient.food.brand || 'Generic' }}
              &nbsp;-&nbsp;
              {{ ingredient.food.name }}
              &nbsp;-&nbsp;
              {{ ingredient.amount }}
              {{ ingredient.amount > 1 ? ingredient.unit.plural : ingredient.unit.name }}
              &nbsp;-&nbsp;
              {{ ingredient.calories }} kcal
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- PORTIONS -->
    <div class="portion-planner">
      <mat-card>
        <mat-card-title>
          <span>Portions</span>
        </mat-card-title>
        <mat-card-content>
          <prepit-portions-form (valueChange)="onPortionsFormValueChanged($event)"></prepit-portions-form>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <!-- SUMMARY -->
  <div class="summary-container">
    <mat-card>
      <mat-card-title>Summary</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Total calories - {{ totalCalories$ | async }}</mat-list-item>
          <mat-list-item>Calories per 100 grams - {{ caloriesPerHundredGrams$ | async }}</mat-list-item>
          <mat-list-item>Calories per portion - {{ caloriesPerPortion$ | async }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Portion size - {{ portionSize$ | async }} grams</mat-list-item>
          <mat-list-item>Number of portions - {{ portionCount$ | async }}</mat-list-item>
        </mat-list>

        <div class="save-actions">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmitMeal()">
            <button mat-raised-button color="accent" [disabled]="!formGroup.valid" type="submit">Save custom food</button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
