.prep-page {
  .prep-row {
    display: flex;

    .prep-col {
      display: flex;
      flex-direction: column;
      flex: 1;

      .ingredients-list {
        flex: 1;
        background-color: cadetblue;
      }

      .portions {
        flex: 1;
        background-color: azure;
      }
    }

    .search-area {
      flex: 0 0 400px;
      background-color: antiquewhite;
      max-height: 700px;
      overflow-y: scroll;
    }

  }
}
